.multicolumn_sobre {
  /* Splits the content into exactly 2 columns */
  columns: 2;
  /* Defines the space between columns */
  column-gap: 40px;
  /* Adds the vertical dividing line */
  column-rule: 2px solid #333;
  padding: 10px;
}

@media (max-width: 768px){
    .multicolumn_sobre {
    columns: 1;
    
  }
}

@keyframes goLeftTextSobre {
  from {
    opacity: 0;
    transform: translateX(80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes goRightFotoSobre {
  from {
    opacity: 0;
    transform: translateX(-80px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.textSobre {
    opacity: 0;
    animation: goLeftTextSobre 0.5s linear forwards;
}

.fotoSobre {
    opacity: 0;
    animation: goRightFotoSobre 0.5s linear forwards;
    z-index: 10;
}