@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --turquesa: #31ae94;
  --laranja-apagado: #c79165;
  --ciano: #18868c;
  --verde-apagado: #8a8c6e;
  --laranja: #cd6a3e;
  --marrom: #572e1b;
  --marrom-escuro: #28140c;
  --marrom-apagado: #8a5c46;
  --cinza: #ae9f91;
  --salmao: #ee6484;
  --offwhite: #FAEBD7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}
