@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --turquesa: #31ae94;
  --laranja-apagado: #c79165;
  --ciano: #18868c;
  --verde-apagado: #8a8c6e;
  --laranja: #cd6a3e;
  --marrom: #572e1b;
  --marrom-escuro: #28140c;
  --marrom-apagado: #8a5c46;
  --cinza: #ae9f91;
  --salmao: #ee6484;
  --almond: #faebd7;
  --offwhite: #FAF2FA;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
}

.home_image_div {
  width: 100%;
  height: 100vh;
  position: relative;
  margin-bottom: 10px;
}

.home_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 5%;
}

.home_gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to left, var(--cinza), var(--marrom-apagado), var(--marrom-escuro));
  opacity: 0.6;
  border-radius: 5%;
  padding: 10px 0px 0px 10px;
}


.background_layout {
  background:
    linear-gradient(
      45deg,
      transparent 49%,
      var(--turquesa) 49% 51%,
      transparent 51%
    ),
    linear-gradient(
      -45deg,
      transparent 49%,
      var(--turquesa) 49% 51%,
      transparent 51%
    );
  background-size: 2em 2em;
  background-color: var(--almond);
  opacity: 1;
}

.multicolumn_sobre {
  /* Splits the content into exactly 2 columns */
  columns: 2;
  /* Defines the space between columns */
  column-gap: 40px;
  /* Adds the vertical dividing line */
  column-rule: 2px solid #333;
  padding: 20px;
}
