a:hover {
    color: var(--cinza);
}


.menuBurguer {
    cursor: pointer;
    display: none;
}

.menuBurguer div {
    width: 32px;
    height: 2px;
    background: white;
    margin: 8px;
    transition: 0.3s;
}


@media (max-width: 1024px){

    .menuLateral {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        min-height: 92vh;
        background: var(--marrom-apagado);
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 1;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        border-bottom-left-radius: 20px;
    }

    .menuLateral li {
        margin-left: 0;
    }

    .menuLateral.active {
        transform: translateX(0);
    }

    .menuBurguer {
        display: block !important;
    }

    .menuBurguer.active .bar1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }
    
    .menuBurguer.active .bar2 {
        opacity: 0;
    }
    
    .menuBurguer.active .bar3 {
        transform: rotate(45deg) translate(-5px, -7px);
    }
    

}